In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from requests import get

In [2]:
headers = {"Accept-Language":"en-US,en;q=0.5"}

In [3]:
url = "https://www.imdb.com/search/title/?groups=top_1000&ref_=adv_prv"

In [4]:
import requests

In [5]:
results = requests.get(url,headers=headers)

In [6]:
soup = BeautifulSoup(results.text,"html.parser")

In [8]:
#print(soup.prettify())

In [18]:
titles = []
years = []
times = []
imbd_ratings = []
meta_scores = []
votes = []
us_gross = []

In [19]:
movie_div = soup.find_all('div',class_ = 'lister-item mode-advanced')

In [20]:
for container in movie_div:
    name = container.h3.a.text
    titles.append(name)
    year = container.h3.find('span',class_='lister-item-year').text
    years.append(year)
    runtime = container.find('span',class_='runtime').text if container.p.find('span',class_='runtime').text else "-"
    times.append(runtime)
    imbd = float(container.strong.text)
    imbd_ratings.append(imbd)
    meta_s = container.find('span',class_='metascore').text if container.find('span',class_='metascore') else "-"
    meta_scores.append(meta_s)
    nv = container.find_all('span',attrs={'name':'nv'})
    vote = nv[0].text
    votes.append(vote)
    grosses = nv[1].text if len(nv)>1 else '-'
    us_gross.append(grosses)

In [21]:
df = pd.DataFrame({'movie':titles,'year':years,'rutime':runtime,
                  'imdb_rating':imbd_ratings,'meta_data':meta_scores,
                  'vote':votes,'us_gross_worth':us_gross})

In [22]:
df

,movie,year,rutime,imdb_rating,meta_data,vote,us_gross_worth
0,Tenet,(2020),129 min,7.8,69,"131,170",$45.10M
1,One Flew Over the Cuckoo's Nest,(1975),129 min,8.7,83,"899,646",$112.00M
2,The Gentlemen,(2019),129 min,7.9,51,"192,390",-
3,Knives Out,(2019),129 min,7.9,82,"400,001",$165.36M
4,Harry Potter and the Sorcerer's Stone,(2001),129 min,7.6,64,"633,095",$317.58M
5,Joker,(2019),129 min,8.5,59,"879,335",$335.45M
6,Halloween,(1978),129 min,7.8,87,"224,621",$47.00M
7,Once Upon a Time... In Hollywood,(2019),129 min,7.6,83,"519,389",$142.50M
8,Avengers: Endgame,(2019),129 min,8.4,78,"770,394",$858.37M
9,Parasite,(2019),129 min,8.6,96,"490,781",$53.37M
10,The Shining,(1980),129 min,8.4,66,"876,121",$44.02M
11,Jojo Rabbit,(2019),129 min,7.9,58,"265,868",$0.35M
12,The Shawshank Redemption,(1994),129 min,9.3,80,"2,293,018",$28.34M
13,Interstellar,(2014),129 min,8.6,74,"1,465,986",$188.02M
14,The Silence of the Lambs,(1991),129 min,8.6,85,"1,242,879",$130.74M
15,The Nightmare Before Christmas,(1993),129 min,8.0,82,"287,250",$75.08M
16,The Dark Knight,(2008),129 min,9.0,84,"2,258,076",$534.86M
17,Hamilton,(2020),129 min,8.7,90,"43,391",-
18,The Wolf of Wall Street,(2013),129 min,8.2,75,"1,150,939",$116.90M
19,The Godfather,(1972),129 min,9.2,100,"1,582,791",$134.97M
20,Blade Runner 2049,(2017),129 min,8.0,81,"446,435",$92.05M
21,Fargo,(1996),129 min,8.1,85,"604,559",$24.61M
22,Inception,(2010),129 min,8.8,74,"2,020,144",$292.58M
23,Back to the Future,(1985),129 min,8.5,87,"1,034,779",$210.61M
24,Ford v Ferrari,(2019),129 min,8.1,81,"264,467",$117.62M
25,1917,(2019),129 min,8.3,78,"375,830",$159.23M
26,The Exorcist,(1973),129 min,8.0,81,"356,070",$232.91M
27,The Lord of the Rings: The Fellowship of the Ring,(2001),129 min,8.8,92,"1,628,454",$315.54M
28,Pulp Fiction,(1994),129 min,8.9,94,"1,790,752",$107.93M
29,Spider-Man: Into the Spider-Verse,(2018),129 min,8.4,87,"343,120",$190.24M
30,Titanic,(1997),129 min,7.8,75,"1,027,889",$659.33M
31,Se7en,(1995),129 min,8.6,65,"1,412,118",$100.13M
32,Thor: Ragnarok,(2017),129 min,7.9,74,"570,060",$315.06M
33,Mad Max: Fury Road,(2015),129 min,8.1,90,"862,275",$154.06M
34,The Peanut Butter Falcon,(2019),129 min,7.6,70,"56,806",$13.12M
35,The Goonies,(1985),129 min,7.8,62,"239,620",$61.50M
36,Zodiac,(2007),129 min,7.7,78,"450,216",$33.08M
37,The Matrix,(1999),129 min,8.7,73,"1,642,033",$171.48M
38,Ghostbusters,(1984),129 min,7.8,71,"348,956",$238.63M
39,Little Women,(2019),129 min,7.8,91,"127,072",$108.10M
40,Goodfellas,(1990),129 min,8.7,90,"998,297",$46.84M
41,The Dark Knight Rises,(2012),129 min,8.4,78,"1,489,714",$448.14M
42,Alien,(1979),129 min,8.4,89,"773,534",$78.90M
43,Harry Potter and the Goblet of Fire,(2005),129 min,7.7,81,"534,346",$290.01M
44,Gladiator,(2000),129 min,8.5,67,"1,315,676",$187.71M
45,Gone Girl,(2014),129 min,8.1,79,"839,352",$167.77M
46,Watchmen,(2009),129 min,7.6,56,"494,022",$107.51M
47,Get Out,(I) (2017),129 min,7.7,85,"477,002",$176.04M
48,Fight Club,(1999),129 min,8.8,66,"1,818,194",$37.03M
49,Pride & Prejudice,(2005),129 min,7.8,82,"250,983",$38.41M

In [23]:
df.dtypes

movie              object
year               object
rutime             object
imdb_rating       float64
meta_data          object
vote               object
us_gross_worth     object
dtype: object

In [24]:
df['year'] = df['year'].str.extract('(\d+)').astype(int)

In [25]:
df.dtypes

movie              object
year                int32
rutime             object
imdb_rating       float64
meta_data          object
vote               object
us_gross_worth     object
dtype: object

In [27]:
df['rutime'] = df['rutime'].str.extract('(\d+)').astype(int)

In [28]:
df.dtypes

movie              object
year                int32
rutime              int32
imdb_rating       float64
meta_data          object
vote               object
us_gross_worth     object
dtype: object

In [30]:
df['meta_data'] = df['meta_data'].astype(int)

In [31]:
df.dtypes

movie              object
year                int32
rutime              int32
imdb_rating       float64
meta_data           int32
vote               object
us_gross_worth     object
dtype: object

In [32]:
df['vote'] = df['vote'].str.replace(',','').astype(int)

In [34]:
df.dtypes

movie              object
year                int32
rutime              int32
imdb_rating       float64
meta_data           int32
vote                int32
us_gross_worth     object
dtype: object

In [35]:
df['us_gross_worth'] = df['us_gross_worth'].map(lambda x: x.lstrip('$').rstrip('M'))

In [36]:
df['us_gross_worth'] = pd.to_numeric(df['us_gross_worth'],errors='coerce')

In [38]:
df['us_gross_worth']

0      45.10
1     112.00
2        NaN
3     165.36
4     317.58
5     335.45
6      47.00
7     142.50
8     858.37
9      53.37
10     44.02
11      0.35
12     28.34
13    188.02
14    130.74
15     75.08
16    534.86
17       NaN
18    116.90
19    134.97
20     92.05
21     24.61
22    292.58
23    210.61
24    117.62
25    159.23
26    232.91
27    315.54
28    107.93
29    190.24
30    659.33
31    100.13
32    315.06
33    154.06
34     13.12
35     61.50
36     33.08
37    171.48
38    238.63
39    108.10
40     46.84
41    448.14
42     78.90
43    290.01
44    187.71
45    167.77
46    107.51
47    176.04
48     37.03
49     38.41
Name: us_gross_worth, dtype: float64

In [39]:
df

,movie,year,rutime,imdb_rating,meta_data,vote,us_gross_worth
0,Tenet,2020,129,7.8,69,131170,45.10
1,One Flew Over the Cuckoo's Nest,1975,129,8.7,83,899646,112.00
2,The Gentlemen,2019,129,7.9,51,192390,NaN
3,Knives Out,2019,129,7.9,82,400001,165.36
4,Harry Potter and the Sorcerer's Stone,2001,129,7.6,64,633095,317.58
5,Joker,2019,129,8.5,59,879335,335.45
6,Halloween,1978,129,7.8,87,224621,47.00
7,Once Upon a Time... In Hollywood,2019,129,7.6,83,519389,142.50
8,Avengers: Endgame,2019,129,8.4,78,770394,858.37
9,Parasite,2019,129,8.6,96,490781,53.37
10,The Shining,1980,129,8.4,66,876121,44.02
11,Jojo Rabbit,2019,129,7.9,58,265868,0.35
12,The Shawshank Redemption,1994,129,9.3,80,2293018,28.34
13,Interstellar,2014,129,8.6,74,1465986,188.02
14,The Silence of the Lambs,1991,129,8.6,85,1242879,130.74
15,The Nightmare Before Christmas,1993,129,8.0,82,287250,75.08
16,The Dark Knight,2008,129,9.0,84,2258076,534.86
17,Hamilton,2020,129,8.7,90,43391,NaN
18,The Wolf of Wall Street,2013,129,8.2,75,1150939,116.90
19,The Godfather,1972,129,9.2,100,1582791,134.97
20,Blade Runner 2049,2017,129,8.0,81,446435,92.05
21,Fargo,1996,129,8.1,85,604559,24.61
22,Inception,2010,129,8.8,74,2020144,292.58
23,Back to the Future,1985,129,8.5,87,1034779,210.61
24,Ford v Ferrari,2019,129,8.1,81,264467,117.62
25,1917,2019,129,8.3,78,375830,159.23
26,The Exorcist,1973,129,8.0,81,356070,232.91
27,The Lord of the Rings: The Fellowship of the Ring,2001,129,8.8,92,1628454,315.54
28,Pulp Fiction,1994,129,8.9,94,1790752,107.93
29,Spider-Man: Into the Spider-Verse,2018,129,8.4,87,343120,190.24
30,Titanic,1997,129,7.8,75,1027889,659.33
31,Se7en,1995,129,8.6,65,1412118,100.13
32,Thor: Ragnarok,2017,129,7.9,74,570060,315.06
33,Mad Max: Fury Road,2015,129,8.1,90,862275,154.06
34,The Peanut Butter Falcon,2019,129,7.6,70,56806,13.12
35,The Goonies,1985,129,7.8,62,239620,61.50
36,Zodiac,2007,129,7.7,78,450216,33.08
37,The Matrix,1999,129,8.7,73,1642033,171.48
38,Ghostbusters,1984,129,7.8,71,348956,238.63
39,Little Women,2019,129,7.8,91,127072,108.10
40,Goodfellas,1990,129,8.7,90,998297,46.84
41,The Dark Knight Rises,2012,129,8.4,78,1489714,448.14
42,Alien,1979,129,8.4,89,773534,78.90
43,Harry Potter and the Goblet of Fire,2005,129,7.7,81,534346,290.01
44,Gladiator,2000,129,8.5,67,1315676,187.71
45,Gone Girl,2014,129,8.1,79,839352,167.77
46,Watchmen,2009,129,7.6,56,494022,107.51
47,Get Out,2017,129,7.7,85,477002,176.04
48,Fight Club,1999,129,8.8,66,1818194,37.03
49,Pride & Prejudice,2005,129,7.8,82,250983,38.41

In [40]:
df.to_csv("top_50_movies.csv")

In [41]:
pwd

'C:\\Users\\USER\\python'

In [42]:
#multiple pages scraping

In [46]:
from time import sleep
from random import randint

In [67]:
url = "https://www.imdb.com/search/title/?groups=top_1000&ref_=adv_prv"

In [75]:
titles = []
years = []
time = []
imbd_ratings = []
metascores = []
votes = []
us_gross = []

In [76]:
header = {'Accept-Language':'en-US,en;q=0.5'}

In [77]:
pages = np.arange(1,1001,50)

In [78]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&start=" + str(page)+ "&ref_=adv_nxt",headers=header)
    soup = BeautifulSoup(page.text,"html.parser")
    movie_div = soup.find_all('div',class_='lister-item mode-advanced')
    sleep(randint(2,10))
    for container in movie_div:
        name = container.h3.a.text
        titles.append(name)
        year = container.h3.find('span',class_='lister-item-year').text
        years.append(year)
        runtime = container.p.find('span',class_='runtime').text if container.p.find('span',class_='runtime').text else "-"
        time.append(runtime)
        imbd = float(container.strong.text)
        imbd_ratings.append(imbd)
        meta_s = container.find('span',class_='metascore').text if container.find('span',class_='metascore') else "-"
        metascores.append(meta_s)
        nv = container.find_all('span',attrs={'name':'nv'})
        vote = nv[0].text
        votes.append(vote)
        grosses = nv[1].text if len(nv)>1 else '-'
        us_gross.append(grosses)

In [79]:
movies_df = pd.DataFrame({'titles':titles,'year':years,'runtime':time,
                         'imbd':imbd_ratings,'meta':metascores,'vote':votes,
                         'gross_amt':us_gross})

In [85]:
movies_df

,titles,year,runtime,imbd,meta,vote,gross_amt
0,Tenet,2020,150,7.8,69,"131,477",$45.10M
1,One Flew Over the Cuckoo's Nest,1975,133,8.7,83,"899,744",$112.00M
2,The Gentlemen,2019,113,7.9,51,"192,569",-
3,Knives Out,2019,130,7.9,82,"400,227",$165.36M
4,Harry Potter and the Sorcerer's Stone,2001,152,7.6,64,"633,180",$317.58M
...,...,...,...,...,...,...,...
995,Black,2005,122,8.2,-,"33,006",$0.73M
996,Bhaag Milkha Bhaag,2013,186,8.2,-,"59,927",$1.63M
997,The Breath,2009,128,8.0,-,"31,332",-
998,Vizontele,2001,110,8.0,-,"32,553",-
999,Drishyam,2013,160,8.3,-,"29,965",-

In [82]:
#movies_df['runtime']

In [81]:
movies_df['year']=movies_df['year'].str.extract('(\d+)').astype(int)

In [84]:
movies_df['runtime']=movies_df['runtime'].str.extract('(\d+)').astype(int)

In [86]:
movies_df['vote']=movies_df['vote'].str.replace(",","").astype(int)

In [89]:
movies_df['gross_amt']=movies_df['gross_amt'].map(lambda x: x.lstrip('$').rstrip('M'))
movies_df['gross_amt']=pd.to_numeric(movies_df['gross_amt'],errors='coerce')

In [90]:
movies_df

,titles,year,runtime,imbd,meta,vote,gross_amt
0,Tenet,2020,150,7.8,69,131477,45.10
1,One Flew Over the Cuckoo's Nest,1975,133,8.7,83,899744,112.00
2,The Gentlemen,2019,113,7.9,51,192569,NaN
3,Knives Out,2019,130,7.9,82,400227,165.36
4,Harry Potter and the Sorcerer's Stone,2001,152,7.6,64,633180,317.58
...,...,...,...,...,...,...,...
995,Black,2005,122,8.2,-,33006,0.73
996,Bhaag Milkha Bhaag,2013,186,8.2,-,59927,1.63
997,The Breath,2009,128,8.0,-,31332,NaN
998,Vizontele,2001,110,8.0,-,32553,NaN
999,Drishyam,2013,160,8.3,-,29965,NaN